<%= form_with model: blog_post do |form| %>
  <div>
    <% if form.object.errors.any? %>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="mt-4">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="mt-4">
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <div class="mb-4 mt-3">
    <%= form.submit %>
  </div>
<% end %>
